In [1]:
import pandas as pd

In [2]:
# Import the pyodbc driver
import pyodbc

In [3]:
# Show a list of available drivers that can be used with pyodbc
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server']

In [4]:
# Set some parameters to make our connection to the sql database
SQL_SERVER = 'test_server'
SQL_DATABASE = 'nasdaq_data'
SQL_DRIVER = '{SQL Server}'

In [5]:
# Connect to the database
cn = pyodbc.connect(driver = SQL_DRIVER,
                    server = SQL_SERVER,
                    database = SQL_DATABASE,
                    trusted_connection='yes')

In [6]:
# Execute a sql query and store the results in a dataframe
SQL_QUERY_STRING = "SELECT top 5 * FROM nasdaq_2019"
SQL_Query = pd.read_sql_query(SQL_QUERY_STRING, cn)
df =  pd.DataFrame(SQL_Query)
df

,"""ticker""","""interval""","""date""","""open""","""high""","""low""","""close""","""volume"""
0,"""BPTH""","""D""","""2019-07-18""","""14.46""","""14.79""","""13.75""","""13.87""","""268400"""
1,"""BPY""","""D""","""2019-07-18""","""18.85""","""19""","""18.75""","""18.95""","""488700"""
2,"""BPYPP""","""D""","""2019-07-18""","""25.38""","""25.47""","""25.3186""","""25.39""","""20200"""
3,"""BRAC""","""D""","""2019-07-18""","""10.21""","""10.2377""","""10.2""","""10.217""","""3900"""
4,"""BRACR""","""D""","""2019-07-18""","""0.35""","""0.39""","""0.3005""","""0.35""","""142500"""