In [1]:
import pandas

In [3]:
file_path = "nasdaq_2019_small.csv"
pandas_dataframe = pandas.read_csv(file_path)

In [8]:
pandas_dataframe.head()

  ticker interval        date   open     high      low  close    volume
0   AABA        D  2019-07-01  70.90  71.5200  70.3250  70.57  10234800
1    AAL        D  2019-07-01  33.14  33.6632  32.5301  32.88   8995100
2   AAME        D  2019-07-01   2.43   2.4300   2.4000   2.40       500
3   AAOI        D  2019-07-01  10.70  10.8900  10.0100  10.18    883100
4   AAON        D  2019-07-01  50.57  50.9850  48.5600  49.73    180200

In [13]:
type(pandas_dataframe.date[0])

str